<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HarborRetailDB" 
         connectionString="Server=db01.harbor.local;Database=HarborRetailDB;Integrated Security=true;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <appSettings>
    <add key="ApiEndpoint" value="https://api.harbor.local" />
  </appSettings>
</configuration>
